@import "tailwindcss";

body {
  background-color: #050507;
  color: #e0e0e6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
